.home{
    display: flex;
    height:100%;

}

.home-posts{
    background-color: white;
    flex: 8;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.leftbar{
    display: none;
}
.cancel{
    display: none;
}

@media screen and (max-width:768px){
    .home{
        display:flex;
        flex-direction: column;
    }
    .home button{
        width: 40px;
        display: block;
        padding: 10px;
        font-size: 18px;
    }
    .home-posts{
        flex:12;
    }
   
 
}