.post-view{
    width: 100%;
    display: flex;
}
.showBtn{
    display: none;
}

@media screen and (max-width:768px){
    .post-view{
        display: flex;
        flex-direction: column;
    }
    .showBtn{
        display: block;
        width: 40px;
        padding: 10px;
    }
}